    SELECT
        [System.Id],
        [System.Title],
        [System.State],
        [System.IterationPath]
    FROM workitemLinks
    WHERE (
        [Source].[System.TeamProject] = @project
        AND [Source].[System.WorkItemType] IN ('Project Risk', 'Project Issue')
        AND [Source].[System.State] = '11-Open'
        )
    AND (
        [System.Links.LinkType] = 'System.LinkTypes.Hierarchy-Forward'
    )
    AND (
        [Target].[System.TeamProject] = @project
        AND [Target].[System.WorkItemType] = 'Project Action'
        AND [Target].[System.State] = '11-Open'
    )
    MODE (DoesNotContain)